/* @import url("https://fonts.googleapis.com/css2?family=Anta&family=Protest+Revolution&display=swap");

.subNavContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #363636;
  padding: 8px 16px;
}

.subNavContainer ul {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  font-size: 15px;
  gap: 18px;
}

.subNavContainer ul li {
  cursor: pointer;
  padding: 4px 8px;
  list-style-type: none;
}

.subNavContainer ul li a {
  text-decoration: none;
  color: white;
  transition: all .3s linear;
}

.navbar ul li a:hover {
  border-bottom: 2px solid rgb(0, 0, 0);
  letter-spacing: 1.5px;
}

@media screen and (max-width: 370px) {
  .subNavContainer ul {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    gap: 8px;
    align-items: center;
  }
} */