@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Protest+Revolution&display=swap");

@font-face {
  font-family: founder;
  src: url(../../../public/Founders_Grotesk/FoundersGrotesk-Regular.otf);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border-radius: 32px;
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 16px;

}

.TitlleContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  padding-top: 40px;
}

.TitlleContainer h2 {
  font-size: 25px;
  font-family: founder;
}



.iconContainer {
  background-color: yellow;
  height: 60px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoContainer p {
  width: 100%;
  display: flex;

}

iframe {
  border-radius: 18px;
}