@font-face {
  font-family: founder;
  src: url(../../../public/Founders_Grotesk/FoundersGrotesk-Regular.otf);
}


.fromContainer {
  padding: 64px;
  border-radius: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nameEmailContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.TitlleContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.TitlleContainer h2 {
  font-size: 25px;
  font-family: founder;

}

.TitlleContainer p {
  width: 100%;
  left: 0px;
  display: flex;
}

.nameEmailContainer div {
  flex-grow: 1;
}

label {
  font-size: 18px;
  font-weight: 500;
}

.inputField {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}


.inputField input {
  height: 50px;
  width: 280px;
  border-radius: 2px;
  transition: all .5s linear;
  border: 1px solid #CCCCCC;
}


.Subject {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.Subject input {
  height: 50px;
  width: 100%;
  border-radius: 2px;
  transition: all .5s linear;
  border: 1px solid #CCCCCC;

}



.Message {
  display: flex;
  gap: 10px;
  flex-direction: column;

}

.Textarea textarea {
  height: 120px;
  width: 100%;
  border-radius: 2px;
  transition: all .5s linear;
  border: 1px solid #CCCCCC;
}



.btn button {
  width: fit-content;
  height: 50px;
  width: 140px;
  background-color: yellow;
  border: 2px solid yellow;
  border-radius: 32px;
  transition: all .3s linear;
  font-weight: 600;
  font-size: 18px;

}

.btn button:hover {
  background-color: transparent;
  color: black;
  font-weight: 600;
  letter-spacing: 2px;
  border: 2px solid black;
}