@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Protest+Revolution&display=swap");

.container {
  padding: 28px;
  display: flex;
  flex-direction: column;
  background-color: #212121;
  color: rgb(252, 246, 246);
}

.contentContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 28px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input .innerInput {
  display: flex;
  gap: 16px;
}

.input .innerInput input {
  outline: 0;
  border: 0;
  border-bottom: 1px solid gray;
  background: none;
  width: 280px;
}

.contentContainer .fLogo img {
  height: 100%;
  width: 200px;
  animation: logo 2s linear infinite;
}

@keyframes logo {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



.container .logo {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* 
.logo h2 {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* .logo .innerMain p {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

.f1Ul ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.f1Ul ul li {
  list-style-type: none;
  color: #888585;
}

.f2Ul ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.f2Ul ul li {
  list-style-type: none;
  color: #858080;
}

.f3Ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.logo .f3Ul p {
  color: #858080;
}

.logo .icon {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 300px) {
  .container {
    padding: 16px;
  }

  .container .contentContainer {
    padding: 32px 0px;
    justify-content: space-between;
    justify-content: center;
  }

  .container .contentContainer .input h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 900px) {
  .container .logo {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .innerInput {
    display: flex;
    width: 200px;
  }

  .input h2 {
    text-align: center;
  }
}