@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Protest+Revolution&display=swap");

@font-face {
  font-family: grick;
  src: url(../../../public/kidsplay-font/KidsplaypersonaluseBold-YzjBy.otf);
}

@font-face {
  font-family: kid;
  src: url(../../../public/kido/KIDOMEDIUM.TTF);
}

* {
  font-size: 20px;
}

.container {
  padding: 12px 16px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  background-color: #ee5dee;
  animation: back 5s linear infinite;
}

@keyframes back {
  0% {
    background-color: #9fa8da;
  }

  25% {
    background-color: #ee5dee;

  }

  50% {
    background-color: #9fa8da;

  }

  75% {
    background-color: #ee5dee;

  }

  100% {
    background-color: #9fa8da;

  }


}



.logo h2 {
  /* font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal; */
  align-items: center;
  color: black;
  cursor: pointer;
  font-family: kid;
  font-size: 40px;
  letter-spacing: 1.5px;
  padding-left: 30px;
}

.navbar ul {
  /* font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal; */
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;

}

.navbar li {
  list-style-type: none;
  display: flex;
}

.navbar ul li a {
  /* color: #424242; */
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  padding: 6px 14px;
  font-size: 15px;
  transition: all .3s linear;
}

.navbar ul li a:hover {
  border-bottom: 2px solid rgb(0, 0, 0);
  letter-spacing: 1.5px;
}

.list {
  display: none;
  align-items: center;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 700px) {
  .list {
    display: flex;
  }

  ul {
    display: none;
  }

  .icons {
    display: none;
  }

  .navbar {
    display: none;
  }
}

/* @media screen and (max-width: 700px) { */